In [1]:
# Column_name
# names = [name[0] for name in cur.description]

In [2]:
# SQLITE Process

### 1. 환경설정

In [3]:
import os
import sqlite3
import pandas as pd
import tqdm

In [4]:
db_name = '[TFIDF]Credibility_research_20180906.db' #DB 파일명
# db 생성
con = sqlite3.connect( db_name )
cur = con.cursor()

### 2. Table 생성
- 2.1 User
- 2.2 Post
- 2.3 Post_style
- 2.4 Sympathy_interaction
- 2.5 Tag
- 2.6 Coment_interaction
- 2.7 Img_table

### 2.1 User

In [5]:
sql =  ''' Create Table if not exists User(
  User_Id  varchar(20)  NOT NULL,
  Blog_name varchar(100)  NULL,
  Blog_nickname varchar(50)  NULL,
  Blog_info_text TEXT  NULL,
  Count_neighbors INT(10)  NULL,
  Count_visitors INT(10)  NULL,
  Categories varchar(255)  NULL,
  Count_categories INT(10)  NULL,
  Total_post INT(10)  NULL,
  Credibility INT(1)  NOT NULL,
  Source varchar(10)  NOT NULL, 
  Blog_mobile_profile_img varchar(100)  NULL,
  Blog_mobile_cover_img varchar(50)  NULL,
  Opening_date varchar(20)  NULL,
  Post_interval_average INT(20)  NULL,
  Post_interval_std INT(20)  NULL,
  Post_average_time INT(20)  NULL,
  Post_std INT(20)  NULL,
  PRIMARY KEY (User_ID)
        ) '''
cur.execute(sql)

##### NAVER

In [6]:
import pandas as pd
df = pd.read_csv('[Revised]Final_Naver_user_table.csv',sep='\t',encoding='utf-8')

In [7]:
df.to_sql('User', con, if_exists='append', index = False)

##### DBDBDEEP

In [8]:
import pandas as pd
df_dbdbdeep = pd.read_csv('[Revised]Final_dbdbdeep_user_table.csv',sep='\t',encoding='utf-8')

In [9]:
df_dbdbdeep.to_sql('User', con, if_exists='append', index = False)

### 2.2 Post

In [10]:
sql =  '''CREATE TABLE if not exists Post(
  Post_id varchar(20)  NOT NULL,
  User_id  varchar(20)  NOT NULL,
  Category varchar(10) NOT NULL,
  Title varchar(30) NULL,
  Date varchar(20) NULL,
  Structure Text NULL,
  Structure_tag Text NULL,
  Text Text NULL,
  Embedding_text Text NULL,
  Space_text Text NULL,
  Count_space_mistake INT(3) NULL,
  Map_exist INT(3) NULL,
  Media_count INT(3) NULL,
  Heart_count varchar(5) NULL,
  Sticker_count INT(3) NULL,
  Comment_count varchar(5) NULL,
  Text_similarity INT(20) NULL,
  PRIMARY KEY (Post_id),
  FOREIGN KEY (User_id)
      REFERENCES User (User_id) ON DELETE CASCADE  ON UPDATE CASCADE
        ) ''' 
cur.execute(sql)

##### NAVER

In [11]:
post_naver = pd.read_csv('[Revised]TFIDF_Final_Naver_post_table.csv',sep='\t',encoding='utf-8')
Column_name = post_naver.columns.tolist()
Column_name.remove('label')
Column_name.remove('check')
Column_name.remove('Structure_text')
post_naver = post_naver[Column_name]
post_naver.to_sql('Post', con, if_exists='append', index=False,)

In [12]:
post_naver[(post_naver['Comment_count'] == 'hide') | (post_naver['Heart_count'] == 'hide')].shape

(1587, 17)

##### DBDBDEEP

In [13]:
post_dbdbdeep = pd.read_csv('[Revised]TFIDF_Final_dbdbdeep_post_table.csv',sep='\t',encoding='utf-8')
Column_name = post_dbdbdeep.columns.tolist()
Column_name.remove('label')
Column_name.remove('check')
Column_name.remove('Structure_text')
post_dbdbdeep = post_dbdbdeep[Column_name]
post_dbdbdeep.to_sql('Post', con, if_exists='append', index=False)

In [14]:
post_dbdbdeep.shape

(6362, 17)

In [15]:
post_dbdbdeep[(post_dbdbdeep['Comment_count'] == 'hide') | (post_dbdbdeep['Heart_count'] == 'hide')].shape

(2591, 17)

### 2.3 Post_style

In [16]:
sql =  '''CREATE TABLE if not exists Post_style(
  Post_id varchar(20)  NOT NULL,
  Align varchar(20)  NOT NULL,
  basic_font varchar(10) NULL,
  basic_font_size varchar(30) NULL,
  b_strong_word_list varchar(20) NULL,
  b_strong_word_len Text NULL,
  b_tag_len Text NULL,
  color_rgb_list Text NULL,
  color_rgb_word_list Text NULL,
  color_rgb_word_len INT(3) NULL,
  color_tag_len INT(3) NULL,  
  FOREIGN KEY (Post_id)
      REFERENCES Post (Post_id) ON DELETE CASCADE  ON UPDATE CASCADE
        ) ''' 
cur.execute(sql)

##### NAVER

In [17]:
post_style_naver = pd.read_csv('[Final]Naver_post_style_table.csv',sep='\t',encoding='utf-8')

In [18]:
post_style_naver.to_sql('Post_style', con, if_exists='append', index=False)

##### DBDBDEEP

In [19]:
post_style_dbdbdeep = pd.read_csv('[Final]dbdbdeep_post_style_table.csv',sep='\t',encoding='utf-8')
post_style_dbdbdeep.to_sql('Post_style', con, if_exists='append', index=False)

In [20]:
post_style_dbdbdeep.shape

(6291, 11)

In [21]:
post_style_dbdbdeep.drop_duplicates().shape

(6291, 11)

### 2.4 Sympathy_interaction

In [22]:
sql =  '''CREATE TABLE if not exists Sympathy_Interaction(
  Post_id varchar(20)  NOT NULL,
  Sympathy_id varchar(20)NOT NULL,
  FOREIGN KEY (Post_id) 
    REFERENCES Post_id (Post_id) ON DELETE CASCADE  ON UPDATE CASCADE
    ) ''' 
cur.execute(sql)

##### NAVER

In [23]:
Sympathy_interaction_naver = pd.read_csv('[Final]Naver_Sympathy_interaction_table.csv',sep='\t',encoding='utf-8')
Sympathy_interaction_naver.to_sql('Sympathy_Interaction', con, if_exists='append', index=False)

##### DBDBDEEP

In [24]:
Sympathy_interaction_dbdbdeep = pd.read_csv('[Final]dbdbdeep_Sympathy_interaction_table.csv',sep='\t',encoding='utf-8')

In [25]:
Sympathy_interaction_dbdbdeep.to_sql('Sympathy_Interaction', con, if_exists='append', index=False)

### 2.5 Tags

In [26]:
sql =  '''CREATE TABLE if not exists Tag(
  Post_id varchar(20)  NOT NULL,
  Post_tag VARCHAR(50) NOT NULL,
  FOREIGN KEY (Post_id) 
    REFERENCES Post (Post_id) ON DELETE CASCADE  ON UPDATE CASCADE
        ) ''' 
cur.execute(sql)

In [27]:
Tag_naver = pd.read_csv('[Final]naver_tag_table.csv',sep='\t',encoding='utf-8')

In [28]:
Tag_naver.to_sql('Tag', con, if_exists='append', index=False)

##### DBDBDEEP

In [29]:
Tag_dbdbdeep = pd.read_csv('[Final]dbdbdeep_tag_table.csv',sep='\t',encoding='utf-8')

In [30]:
Tag_dbdbdeep.to_sql('Tag', con, if_exists='append', index=False)

### 2.6 Comment_Interaction

In [31]:
sql =  '''CREATE TABLE if not exists Comment_Interaction (
  Post_id varchar(20) NOT NULL,
  Comment_Id varchar(20) NOT NULL,
  Comment_Text Text NULL,
  Comment_Time varchar(20) NOT NULL,
  FOREIGN KEY (Post_id) 
    REFERENCES Post (Post_id) ON DELETE CASCADE  ON UPDATE CASCADE
) '''
cur.execute(sql)

##### Naver

In [32]:
Comment_naver = pd.read_csv('[Final]naver_comment_interaction_table.csv',sep='\t',encoding='utf-8')

In [33]:
Comment_naver.shape

(69070, 4)

In [34]:
Comment_naver.to_sql('Comment_Interaction', con, if_exists='append', index=False)

##### DBDBDEEP

In [35]:
Comment_dbdbdeep = pd.read_csv('[Final]dbdbdeep_Comment_interaction_table.csv',sep='\t',encoding='utf-8')
Comment_dbdbdeep.to_sql('Comment_Interaction', con, if_exists='append', index=False)

### 2.7 Img_table

In [36]:
sql =  '''CREATE TABLE if not exists Img(
  Img_Id varchar(40) NOT NULL,
  Post_Id varchar(20) NOT NULL,
  PRIMARY KEY (Img_ID),
  FOREIGN KEY (Post_Id) 
    REFERENCES Post (Post_Id) ON DELETE CASCADE  ON UPDATE CASCADE  
) ''' 
cur.execute(sql)

##### Naver

In [37]:
Img_table_naver = pd.read_csv('[Final]Naver_img_table.csv',sep='\t',encoding='utf-8')
Img_table_naver.to_sql('Img', con, if_exists='append', index=False)

#### DBDBDEEP

In [38]:
Img_table_dbdbdeep = pd.read_csv('[Final]dbdbdeep_img_table.csv',sep='\t',encoding='utf-8')
Img_table_dbdbdeep.to_sql('Img', con, if_exists='append', index=False)