In [75]:
from bs4 import BeautifulSoup 
import re
import urllib
import requests
import shutil
import json
from selenium import webdriver
import os
import time
import copy
from tqdm import tqdm
from pykospacing import spacing
import pandas as pd
import copy

In [76]:
df_power = pd.read_csv("1.Naver_power_blog_id_05_31.txt",encoding='utf-8',names=['Year','Parent','Child','URL'])

In [77]:
df_month = pd.read_csv("1.Naver_month_blog_id_05_31.txt",encoding='utf-8',names=['Year','Child','URL'])

In [78]:
df_month['Parent'] = ''

In [79]:
col_name = df_month.columns.tolist()
col_name.insert(1,'Parent')
col_name = col_name[:4]

In [80]:
df_month = df_month[col_name]
df_month['URL'] = df_month['URL'].apply(lambda x : x.split('?')[0].split('/')[3])

In [83]:
df_power['URL'] = df_power['URL'].apply(lambda x : x.split('?')[0].split('/')[3])

In [84]:
concat_df = pd.concat([df_power,df_month]).reset_index(drop=True)

In [96]:
concat_colname = concat_df.columns.tolist()

In [102]:
concat_colname[3] = 'ID'

In [111]:
concat_df.columns = concat_colname

In [114]:
concat_df.tail()

        Year Parent Child         ID
4105  2018-4         국내여행     risapa
4106  2018-4         국내여행  logenjjem
4107  2018-4         국내여행     elkjbc
4108  2018-4         국내여행    snslive
4109  2018-4         국내여행       ydl1

In [115]:
concat_df.to_csv("Naver_total_ID.csv",encoding='utf-8',index=None)