In [20]:
from bs4 import BeautifulSoup # html을 soup에 넣고 특정 class or data를 가져오는 library
import re
from urllib.parse import urlencode
import urllib.request as req
from selenium import webdriver
import os
import time
import shutil
import pandas as pd

# Power blog 주소

In [21]:
# import pandas as pd
# import re
# df = pd.read_csv('Power_Naver_blog_url.txt',encoding='utf-8',sep=',',names=['url','parent','child'],dtype='str')
# df['url']= df['url'].apply(lambda x: re.sub('https://section.blog.naver.com/PowerBlog.nhn\?searchYear=','',x))
# df.to_csv('power_blog_id.txt',encoding='utf-8',index=None)
# years = ['2009','2010','2011','2012','2013','2014']
# for year in years:
#     df['url']= df['url'].apply(lambda x: re.sub(str(int(year)-1),year,x))
#     for i in range(0,len(df)):
#         with open('power_blog_id.txt', 'a', encoding='utf-8') as f:
#             f.write(df['url'][i] + ',' +df['parent'][i] + ','+df['child'][i]+'\n')

In [22]:
df = pd.read_csv(".//Naver//Power_blog_url_short.txt",encoding='utf-8')

In [30]:
# chorme open
driver = webdriver.Chrome('.//exe_file//chromedriver.exe')
#driver = webdriver.PhantomJS('/Users/yonggeoljo/phantomjs-2.1.1-macosx/bin/phantomjs')
driver.implicitly_wait(3)

## Power blog(Count)

In [83]:
naver_url = 'https://section.blog.naver.com/PowerBlog.nhn?searchYear='
for url in df['url']:
    driver.get(naver_url + url)
    year = url[:4]
    count = 0
    subpages = driver.find_elements_by_css_selector("#content > section > div.pagination > span > a")
    if len(subpages) != 0: 
        for subpage_num in range(0,len(subpages)):
            subpages = driver.find_elements_by_css_selector("#content > section > div.pagination > span > a")
            subpages[subpage_num].click()
            time.sleep(3)
            title = driver.find_element_by_tag_name('h3').text
            components = driver.find_elements_by_class_name("blog_info")
            count += len(components)
            p = re.compile('>')
            m = p.search(title)
            parent = title[:m.start()] 
            child = title[m.start()+1:]
    else:
        title = driver.find_element_by_tag_name('h3').text
        count = 0
        p = re.compile('>')
        m = p.search(title)
        parent = title[:m.start()] 
        child = title[m.start()+1:]
        
    with open('power_blog_count_real.txt', 'a',encoding='utf-8') as f:
        f.write(year + ',' + parent + ',' + child + ',' + str(count) + '\n')
    print(year,parent,child,str(count))

2008 문화·예술 리뷰 책 19
2008 문화·예술 리뷰 영화 12
2008 문화·예술 리뷰 음악 1
2008 문화·예술 리뷰 공연·전시·문화·예술 17
2008 문화·예술 리뷰 미술·디자인 10
2008 문화·예술 리뷰 드라마·방송 6
2008 문화·예술 리뷰 만화·애니 5
2008 문화·예술 리뷰 게임 5
2008 여행·레저·지역 여행 57
2008 여행·레저·지역 캠핑 2
2008 여행·레저·지역 등산·낚시·레저 6
2008 여행·레저·지역 지역·해외생활 12
2008 맛집·식도락 맛집 44
2008 맛집·식도락 와인·술 6
2008 맛집·식도락 차·커피·디저트 9
2008 사진·창작·수집 사진 48
2008 사진·창작·수집 웹툰·페인팅·일러스트 31
2008 사진·창작·수집 자필문학·에세이 15
2008 사진·창작·수집 토이·모형·수집 15
2008 IT·스포츠·자동차  IT·웹·프로그램 7
2008 IT·스포츠·자동차  스포츠 7
2008 IT·스포츠·자동차  자동차 5
2008 IT·스포츠·자동차  철도·항공·교통 6
2008 IT·스포츠·자동차  음향·영상 5
2008 학술·시사·경제·교육 시사·인문·경제 15
2008 학술·시사·경제·교육 교육·외국어 9
2008 학술·시사·경제·교육 과학·자연관찰 4
2008 일상·육아·자연 일상 30
2008 일상·육아·자연 육아 8
2008 일상·육아·자연 애완·반려동물 10
2008 일상·육아·자연 원예·재배 16
2008 요리·인테리어·DIY·뷰티 요리 71
2008 요리·인테리어·DIY·뷰티 가구·인테리어 20
2008 요리·인테리어·DIY·뷰티 생활공예 40
2008 요리·인테리어·DIY·뷰티 패션·뷰티 11
2009 문화·예술 리뷰 책 22
2009 문화·예술 리뷰 영화 16
2009 문화·예술 리뷰 음악 10
2009 문화·예술 리뷰 공연·전시·문화·예술 23
2009 문화·예술 리뷰 미술·디자인 12
2009 문화·예술 리뷰 드라마·방송 7
2009 문화·예술 리뷰 만화·애니 6
2009 문화·예술 리뷰 게임 5
2009 여행·레저·지역 여행 70
2009 여행·레저·지역 캠핑 5
2009 여행·레저·지역 등산·낚시·레저 7
2009 여행·레저·지역 지역·해외생활 23
2009 맛집·식도락 맛집 51
2009 맛집·식도락 와인·술 7
2009 맛집·식도락 차·커피·디저트 10
2009 사진·창작·수집 사진 60
2009 사진·창작·수집 웹툰·페인팅·일러스트 46
2009 사진·창작·수집 자필문학·에세이 23
2009 사진·창작·수집 토이·모형·수집 22
2009 IT·스포츠·자동차  IT·웹·프로그램 13
2009 IT·스포츠·자동차  스포츠 11
2009 IT·스포츠·자동차  자동차 10
2009 IT·스포츠·자동차  철도·항공·교통 7
2009 IT·스포츠·자동차  음향·영상 6
2009 학술·시사·경제·교육 시사·인문·경제 22
2009 학술·시사·경제·교육 교육·외국어 11
2009 학술·시사·경제·교육 과학·자연관찰 9
2009 일상·육아·자연 일상 36
2009 일상·육아·자연 육아 9
2009 일상·육아·자연 애완·반려동물 11
2009 일상·육아·자연 원예·재배 22
2009 요리·인테리어·DIY·뷰티 요리 80
2009 요리·인테리어·DIY·뷰티 가구·인테리어 22
2009 요리·인테리어·DIY·뷰티 생활공예 49
2009 요리·인테리어·DIY·뷰티 패션·뷰티 18
2010 문화·예술 리뷰 책 17
2010 문화·예술 리뷰 영화 12
2010 문화·예술 리뷰 음악 8
2010 문화·예술 리뷰 공연·전시·문화·예술 21
2010 문화·예술 리뷰 미술·디자인 7
2010 문화·예술 리뷰 드라마·방송 4
2010 문화·예술 리뷰 만화·애니 4
2010 문화·예술 리뷰 게임 10
2010 여행·레저·지역 여행 47
2010 여행·레저·지역 캠핑 6
2010 여행·레저·지역 등산·낚시·레저 9
2010 여행·레저·지역 지역·해외생활 21
2010 맛집·식도락 맛집 42
2010 맛집·식도락 와인·술 5
2010 맛집·식도락 차·커피·디저트 11
2010 사진·창작·수집 사진 39
2010 사진·창작·수집 웹툰·페인팅·일러스트 33
2010 사진·창작·수집 자필문학·에세이 14
2010 사진·창작·수집 토이·모형·수집 13
2010 IT·스포츠·자동차  IT·웹·프로그램 14
2010 IT·스포츠·자동차  스포츠 11
2010 IT·스포츠·자동차  자동차 10
2010 IT·스포츠·자동차  철도·항공·교통 4
2010 IT·스포츠·자동차  음향·영상 3
2010 학술·시사·경제·교육 시사·인문·경제 21
2010 학술·시사·경제·교육 교육·외국어 9
2010 학술·시사·경제·교육 과학·자연관찰 11
2010 일상·육아·자연 일상 16
2010 일상·육아·자연 육아 11
2010 일상·육아·자연 애완·반려동물 9
2010 일상·육아·자연 원예·재배 12
2010 요리·인테리어·DIY·뷰티 요리 56
2010 요리·인테리어·DIY·뷰티 가구·인테리어 6
2010 요리·인테리어·DIY·뷰티 생활공예 18
2010 요리·인테리어·DIY·뷰티 패션·뷰티 17
2011 문화·예술 리뷰 책 8
2011 문화·예술 리뷰 영화 7
2011 문화·예술 리뷰 음악 8
2011 문화·예술 리뷰 공연·전시·문화·예술 10
2011 문화·예술 리뷰 미술·디자인 7
2011 문화·예술 리뷰 드라마·방송 3
2011 문화·예술 리뷰 만화·애니 4
2011 문화·예술 리뷰 게임 10
2011 여행·레저·지역 여행 35
2011 여행·레저·지역 캠핑 5
2011 여행·레저·지역 등산·낚시·레저 5
2011 여행·레저·지역 지역·해외생활 6
2011 맛집·식도락 맛집 23
2011 맛집·식도락 와인·술 3
2011 맛집·식도락 차·커피·디저트 6
2011 사진·창작·수집 사진 23
2011 사진·창작·수집 웹툰·페인팅·일러스트 15
2011 사진·창작·수집 자필문학·에세이 7
2011 사진·창작·수집 토이·모형·수집 6
2011 IT·스포츠·자동차  IT·웹·프로그램 9
2011 IT·스포츠·자동차  스포츠 18
2011 IT·스포츠·자동차  자동차 6
2011 IT·스포츠·자동차  철도·항공·교통 2
2011 IT·스포츠·자동차  음향·영상 3
2011 학술·시사·경제·교육 시사·인문·경제 16
2011 학술·시사·경제·교육 교육·외국어 4
2011 학술·시사·경제·교육 과학·자연관찰 7
2011 일상·육아·자연 일상 17
2011 일상·육아·자연 육아 7
2011 일상·육아·자연 애완·반려동물 6
2011 일상·육아·자연 원예·재배 6
2011 요리·인테리어·DIY·뷰티 요리 17
2011 요리·인테리어·DIY·뷰티 가구·인테리어 8
2011 요리·인테리어·DIY·뷰티 생활공예 11
2011 요리·인테리어·DIY·뷰티 패션·뷰티 9
2012 문화·예술 리뷰 책 8
2012 문화·예술 리뷰 영화 10
2012 문화·예술 리뷰 음악 6
2012 문화·예술 리뷰 공연·전시·문화·예술 10
2012 문화·예술 리뷰 미술·디자인 7
2012 문화·예술 리뷰 드라마·방송 5
2012 문화·예술 리뷰 만화·애니 3
2012 문화·예술 리뷰 게임 11
2012 여행·레저·지역 여행 33
2012 여행·레저·지역 캠핑 8
2012 여행·레저·지역 등산·낚시·레저 9
2012 여행·레저·지역 지역·해외생활 8
2012 맛집·식도락 맛집 24
2012 맛집·식도락 와인·술 3
2012 맛집·식도락 차·커피·디저트 10
2012 사진·창작·수집 사진 29
2012 사진·창작·수집 웹툰·페인팅·일러스트 13
2012 사진·창작·수집 자필문학·에세이 8
2012 사진·창작·수집 토이·모형·수집 3
2012 IT·스포츠·자동차  IT·웹·프로그램 14
2012 IT·스포츠·자동차  스포츠 17
2012 IT·스포츠·자동차  자동차 8
2012 IT·스포츠·자동차  철도·항공·교통 3
2012 IT·스포츠·자동차  음향·영상 3
2012 학술·시사·경제·교육 시사·인문·경제 11
2012 학술·시사·경제·교육 교육·외국어 3
2012 학술·시사·경제·교육 과학·자연관찰 8
2012 일상·육아·자연 일상 15
2012 일상·육아·자연 육아 10
2012 일상·육아·자연 애완·반려동물 6
2012 일상·육아·자연 원예·재배 6
2012 요리·인테리어·DIY·뷰티 요리 14
2012 요리·인테리어·DIY·뷰티 가구·인테리어 11
2012 요리·인테리어·DIY·뷰티 생활공예 10
2012 요리·인테리어·DIY·뷰티 패션·뷰티 6
2013 문화·예술 리뷰 책 6
2013 문화·예술 리뷰 영화 5
2013 문화·예술 리뷰 음악 6
2013 문화·예술 리뷰 공연·전시·문화·예술 3
2013 문화·예술 리뷰 미술·디자인 4
2013 문화·예술 리뷰 드라마·방송 3
2013 문화·예술 리뷰 만화·애니 2
2013 문화·예술 리뷰 게임 7
2013 여행·레저·지역 여행 10
2013 여행·레저·지역 캠핑 4
2013 여행·레저·지역 등산·낚시·레저 7
2013 여행·레저·지역 지역·해외생활 4
2013 맛집·식도락 맛집 9
2013 맛집·식도락 와인·술 2
2013 맛집·식도락 차·커피·디저트 7
2013 사진·창작·수집 사진 24
2013 사진·창작·수집 웹툰·페인팅·일러스트 5
2013 사진·창작·수집 자필문학·에세이 4
2013 사진·창작·수집 토이·모형·수집 1
2013 IT·스포츠·자동차  IT·웹·프로그램 2
2013 IT·스포츠·자동차  스포츠 12
2013 IT·스포츠·자동차  자동차 3
2013 IT·스포츠·자동차  철도·항공·교통 3
2013 IT·스포츠·자동차  음향·영상 3
2013 학술·시사·경제·교육 시사·인문·경제 5
2013 학술·시사·경제·교육 교육·외국어 1
2013 학술·시사·경제·교육 과학·자연관찰 6
2013 일상·육아·자연 일상 5
2013 일상·육아·자연 육아 3
2013 일상·육아·자연 애완·반려동물 2
2013 일상·육아·자연 원예·재배 7
2013 요리·인테리어·DIY·뷰티 요리 2
2013 요리·인테리어·DIY·뷰티 가구·인테리어 3
2013 요리·인테리어·DIY·뷰티 생활공예 3
2013 요리·인테리어·DIY·뷰티 패션·뷰티 0
2014 문화·예술 리뷰 책 4
2014 문화·예술 리뷰 영화 8
2014 문화·예술 리뷰 음악 6
2014 문화·예술 리뷰 공연·전시·문화·예술 4
2014 문화·예술 리뷰 미술·디자인 3
2014 문화·예술 리뷰 드라마·방송 3
2014 문화·예술 리뷰 만화·애니 2
2014 문화·예술 리뷰 게임 5
2014 여행·레저·지역 여행 6
2014 여행·레저·지역 캠핑 2
2014 여행·레저·지역 등산·낚시·레저 4
2014 여행·레저·지역 지역·해외생활 4
2014 맛집·식도락 맛집 7
2014 맛집·식도락 와인·술 2
2014 맛집·식도락 차·커피·디저트 1
2014 사진·창작·수집 사진 10
2014 사진·창작·수집 웹툰·페인팅·일러스트 3
2014 사진·창작·수집 자필문학·에세이 4
2014 사진·창작·수집 토이·모형·수집 0
2014 IT·스포츠·자동차  IT·웹·프로그램 3
2014 IT·스포츠·자동차  스포츠 7
2014 IT·스포츠·자동차  자동차 3
2014 IT·스포츠·자동차  철도·항공·교통 3
2014 IT·스포츠·자동차  음향·영상 0
2014 학술·시사·경제·교육 시사·인문·경제 4
2014 학술·시사·경제·교육 교육·외국어 2
2014 학술·시사·경제·교육 과학·자연관찰 2
2014 일상·육아·자연 일상 4
2014 일상·육아·자연 육아 5
2014 일상·육아·자연 애완·반려동물 3
2014 일상·육아·자연 원예·재배 8
2014 요리·인테리어·DIY·뷰티 요리 7
2014 요리·인테리어·DIY·뷰티 가구·인테리어 0
2014 요리·인테리어·DIY·뷰티 생활공예 4
2014 요리·인테리어·DIY·뷰티 패션·뷰티 2

In [84]:
driver = webdriver.Chrome('./chromedriver.exe')
#driver = webdriver.PhantomJS('/Users/yonggeoljo/phantomjs-2.1.1-macosx/bin/phantomjs')
driver.implicitly_wait(3)
driver.get('https://section.blog.naver.com/PowerBlog.nhn?searchYear=2014&parentGroupNo=8&childGroupNo=45&currentPage=1')

In [85]:
title = driver.find_element_by_tag_name('h3').text
components = driver.find_elements_by_class_name("blog_info")
count += len(components)
p = re.compile('>')
m = p.search(title)
parent = title[:m.start()] 
child = title[m.start()+1:]

## 이달의 블로그(Count)
- 2016-7 :국내여행 20 -> 19 
- 2016-8
    - 스타 10 -> 9
    - 스포츠 20 ->19 
- 2016-12
    - 미술 20 -> 19 
    - 교육 17 -> 15 
- 2017-03 : 육아·결혼 14 -> 13 
- 2017-06 : 음악 18 -> 17 
- 2017-10 : 영화 20 -> 19

In [86]:
df = pd.read_csv("month_blog_url_short.txt",encoding='utf-8')

In [87]:
naver_url = 'https://section.blog.naver.com/ThisMonthDirectory.nhn?year='

for url in df['url']:
    driver.get(naver_url + url)
    e = driver.find_elements_by_class_name('heading_monthly_blog_categoty')
    for i in e:
        year = url[:4]
        month = url[11:]
        child = i.text.split("(")[0]
        count = i.text.split("(")[1].split(")")[0]
        with open('month_blog_count_real.txt', 'a',encoding='utf-8') as f:
            f.write(year+'-'+ month + ',' + ' ' + ',' + child + ',' + str(count) + '\n')
            print(year+'-'+ month + ',' + ' ' + ',' + child + ',' + str(count) + '\n')
        time.sleep(3)

2016-6, ,요리·레시피,20

2016-6, ,인테리어·DIY,20

2016-6, ,미술·디자인,20

2016-6, ,만화·애니,19

2016-6, ,교육·학문,20

2016-7, ,공연·전시,20

2016-7, ,국내여행,20

2016-7, ,세계여행,20

2016-8, ,게임,20

2016-8, ,스타·연예인,10

2016-8, ,패션·미용,14

2016-8, ,IT·컴퓨터,14

2016-8, ,스포츠,20

2016-8, ,건강·의학,20

2016-9, ,맛집,20

2016-9, ,영화,20

2016-9, ,사진,22

2016-9, ,어학·외국어,20

2016-10, ,문학·책,22

2016-10, ,자동차,10

2016-10, ,애완·반려동물,20

2016-11, ,요리·레시피,20

2016-11, ,음악,8

2016-12, ,미술·디자인,20

2016-12, ,만화·애니,20

2016-12, ,교육·학문,17

2017-1, ,공연·전시,13

2017-1, ,국내여행,20

2017-1, ,세계여행,20

2017-2, ,인테리어·DIY,18

2017-2, ,게임,20

2017-2, ,스포츠,20

2017-2, ,건강·의학,15

2017-3, ,패션·미용,19

2017-3, ,육아·결혼,14

2017-3, ,취미,19

2017-4, ,맛집,15

2017-4, ,영화,20

2017-4, ,사진,20

2017-5, ,문학·책,13

2017-5, ,자동차,20

2017-5, ,애완·반려동물,9

2017-6, ,요리·레시피,20

2017-6, ,미술·디자인,15

2017-6, ,음악,18

2017-7, ,국내여행,18

2017-7, ,세계여행,19

2017-8, ,인테리어·DIY,20

2017-8, ,스포츠,15

2017-9, ,패션·미용,18

2017-9, ,육아·결혼,18

2017-9, ,건강·의학,17

2017-10, ,영화,20

2017-10, ,사진,19

2017-10, ,취미,20

2017-11, ,방송,20

2017-11, ,IT·컴퓨터,18

2017-12, ,비즈니스·경제,16

2017-12, ,공연·전시,20

2017-12, ,어학·외국어,18

2018-1, ,일상·생각,10

2018-1, ,문학·책,12

2018-1, ,자동차,20

2018-2, ,게임,19

2018-2, ,스포츠,16

2018-2, ,애완·반려동물,20

2018-3, ,만화·애니,14

2018-3, ,교육·학문,15

2018-4, ,영화,13

2018-4, ,국내여행,10

In [88]:
power_blog = pd.read_csv("power_blog_count_real.txt",sep=',',names=['year','parent','child','count'])
month_blog = pd.read_csv("month_blog_count_real.txt",sep=',',names=['year','parent','child','count'])

In [89]:
total_blog = pd.concat([power_blog,month_blog],ignore_index=True)

In [90]:
total_blog.to_csv('Naver_total_blog.csv',encoding='euc-kr',index=None)

## Total data count

In [91]:
df = pd.read_csv("Naver_total_blog.csv",encoding='euc-kr')

In [97]:
df.groupby(['year'])[['count']].sum()

         count
year
2008       584
2009       761
2010       551
2011       337
2012       353
2013       173
2014       135
2016-10     52
2016-11     28
2016-12     57
2016-6      99
2016-7      60
2016-8      98
2016-9      82
2017-1      53
2017-10     59
2017-11     38
2017-12     54
2017-2      73
2017-3      52
2017-4      55
2017-5      42
2017-6      53
2017-7      37
2017-8      35
2017-9      53
2018-1      42
2018-2      55
2018-3      29
2018-4      23

In [98]:
count = df.groupby(['child']).sum()
count.to_csv("count.csv",encoding='euc-kr')

In [99]:
df['parent'] = df['parent'].apply(lambda x : x.strip())

In [100]:
import copy
df['count'] = df['count'].apply(lambda x : int(x))
power_df= copy.copy(df.head(245))
month_df = copy.copy(df.iloc[245:,])

In [101]:
power_df.groupby(['year']).sum()

      count
year
2008    584
2009    761
2010    551
2011    337
2012    353
2013    173
2014    135

In [102]:
power_df.loc['Total'] = pd.Series(power_df['count'].sum(), index = ['count'])
month_df.loc['Total'] = pd.Series(month_df['count'].sum(), index = ['count'])
power_df['count'] = power_df['count'].apply(lambda x : int(x))
month_df['count'] = month_df['count'].apply(lambda x : int(x))

In [105]:
power_df.tail()

       year          parent    child  count
241    2014  요리·인테리어·DIY·뷰티       요리      7
242    2014  요리·인테리어·DIY·뷰티  가구·인테리어      0
243    2014  요리·인테리어·DIY·뷰티     생활공예      4
244    2014  요리·인테리어·DIY·뷰티    패션·뷰티      2
Total   NaN             NaN      NaN   2894

In [106]:
month_df.tail()

         year parent  child  count
311    2018-3         만화·애니     14
312    2018-3         교육·학문     15
313    2018-4            영화     13
314    2018-4          국내여행     10
Total     NaN    NaN    NaN   1229

In [113]:
df = df.sort_values(by=['child'])
df.groupby(['child'])[['count']].sum()

             count
child
IT·웹·프로그램       62
IT·컴퓨터          32
가구·인테리어         70
건강·의학           52
게임             112
공연·전시           53
공연·전시·문화·예술     88
과학·자연관찰         47
교육·외국어          39
교육·학문           52
국내여행            68
드라마·방송          31
등산·낚시·레저        47
만화·애니           79
맛집             235
문학·책            47
미술·디자인         105
방송              20
비즈니스·경제         16
사진             294
생활공예           135
세계여행            59
스타·연예인          10
스포츠            154
시사·인문·경제        94
애완·반려동물         96
어학·외국어          38
여행             258
영화             143
와인·술            28
요리             247
요리·레시피          60
원예·재배           77
웹툰·페인팅·일러스트    146
육아              53
육아·결혼           32
음악              71
음향·영상           23
인테리어·DIY        58
일상             123
일상·생각           10
자동차             95
자필문학·에세이        75
지역·해외생활         78
차·커피·디저트        54
책               84
철도·항공·교통        28
취미              39
캠핑              32
토이·모형·수집        60
패션·미용           51
패션·뷰티           63

In [112]:
df.groupby(['child'])[['count']].sum()

             count
child
IT·웹·프로그램       62
IT·컴퓨터          32
가구·인테리어         70
건강·의학           52
게임             112
공연·전시           53
공연·전시·문화·예술     88
과학·자연관찰         47
교육·외국어          39
교육·학문           52
국내여행            68
드라마·방송          31
등산·낚시·레저        47
만화·애니           79
맛집             235
문학·책            47
미술·디자인         105
방송              20
비즈니스·경제         16
사진             294
생활공예           135
세계여행            59
스타·연예인          10
스포츠            154
시사·인문·경제        94
애완·반려동물         96
어학·외국어          38
여행             258
영화             143
와인·술            28
요리             247
요리·레시피          60
원예·재배           77
웹툰·페인팅·일러스트    146
육아              53
육아·결혼           32
음악              71
음향·영상           23
인테리어·DIY        58
일상             123
일상·생각           10
자동차             95
자필문학·에세이        75
지역·해외생활         78
차·커피·디저트        54
책               84
철도·항공·교통        28
취미              39
캠핑              32
토이·모형·수집        60
패션·미용           51
패션·뷰티           63

In [34]:
df_count.to_csv("test.csv",encoding='utf-8',sep=',')