In [73]:
import pandas as pd
import re

In [74]:
df_1 = pd.read_csv('.//Naver_data//1.Naver_month_blog_id.txt',names=['Year','Category','url'],sep=',',encoding='utf-8')
df_2 = pd.read_csv('.//Naver_data//1.Naver_power_blog_id.txt',names=['Year','Parent','Category','url'],sep=',',encoding='utf-8')

In [75]:
df_1['Parent'] = ''
col_name = df_1.columns.tolist()
col_name.insert(1,'Parent')
col_name = col_name[:4]

In [76]:
df_1 = df_1[col_name]
df_1['url'] = df_1['url'].apply(lambda x : x.split('/')[3])

In [77]:
df_2['Year'] = df_2['Year'].apply(lambda x : int(x))
df_2 = df_2.sort_values(by=['Year'])
df_2['url'] = df_2['url'].apply(lambda x : x.split('?')[0].split('/')[3])

In [78]:
concat_df = pd.concat([df_2,df_1]).reset_index(drop=True)

In [80]:
concat_df.tail()

        Year Parent Category        url
4105  2018-4            국내여행     risapa
4106  2018-4            국내여행  logenjjem
4107  2018-4            국내여행     elkjbc
4108  2018-4            국내여행    snslive
4109  2018-4            국내여행       ydl1

In [82]:
concat_df.to_csv('Naver_total_id.csv',index=False,encoding='utf-8')