In [1]:
import os
import sqlite3
import pandas as pd
import tqdm
import numpy as np
db_name = '[TFIDF]Credibility_research_20180906.db' #DB 파일명
# db 생성
con = sqlite3.connect( db_name )
cur = con.cursor()

In [2]:
sql = '''
select p.Post_id,p.Category,u.Blog_nickname, u.User_id, p.Title, p.Structure,p.Structure_tag, p.Text, p.Map_exist, p.Heart_count, p.Comment_count, u.Blog_name, u.Blog_nickname, u.Blog_info_text,u.Count_neighbors,u.Count_visitors,u.Categories,u.Count_categories,u.Total_post,u.Blog_mobile_profile_img,u.Blog_mobile_cover_img,u.Opening_date,u.Post_interval_average,ps.Align, ps.basic_font,ps.basic_font_size,ps.b_strong_word_len,ps.color_rgb_word_len,ps.b_tag_len,ps.color_tag_len, group_concat(img.Img_id) as img_count,u.Credibility
    FROM Post as p
    Left JOIN user as u
        ON p.User_id = u.User_id
    Left JOIN Post_style as ps
        ON p.Post_id = ps.Post_id
    Left JOIN Img as img
        ON p.Post_id = img.Post_id
    GROUP BY p.Post_id;
'''
cur.execute(sql)
rows = cur.fetchall()

In [3]:
col_name = [i[0] for i in cur.description]

In [4]:
test_df = pd.DataFrame(rows)

In [5]:
test_df.columns = col_name

In [7]:
test_df.columns.tolist()

['Post_id',
 'Category',
 'Blog_nickname',
 'User_Id',
 'Title',
 'Structure',
 'Structure_tag',
 'Text',
 'Map_exist',
 'Heart_count',
 'Comment_count',
 'Blog_name',
 'Blog_nickname',
 'Blog_info_text',
 'Count_neighbors',
 'Count_visitors',
 'Categories',
 'Count_categories',
 'Total_post',
 'Blog_mobile_profile_img',
 'Blog_mobile_cover_img',
 'Opening_date',
 'Post_interval_average',
 'Align',
 'basic_font',
 'basic_font_size',
 'b_strong_word_len',
 'color_rgb_word_len',
 'b_tag_len',
 'color_tag_len',
 'img_count',
 'Credibility']

In [9]:
Category_df = test_df[['Post_id','Category']]
Category_df.to_csv('Category.csv')

In [6]:
test_df.drop_duplicates(subset=['User_Id']).groupby(by='Credibility')['Title'].count()

Credibility
0    1955
1     989
Name: Title, dtype: int64

In [7]:
test_df.groupby(by='Credibility')['User_Id'].count()

Credibility
0    6362
1    9942
Name: User_Id, dtype: int64

In [8]:
pd.DataFrame(test_df[test_df['Credibility']==1].drop_duplicates(subset='User_Id').groupby(by='Category')['User_Id'].count())

          User_Id
Category
IT·컴퓨터         48
건강·의학          51
공연·전시          51
교육·학문          50
국내여행           48
드라마·방송         27
등산·낚시·레저       23
만화·애니          61
맛집            104
사진            167
스포츠            86
시사·인문·경제       53
어학·외국어         18
와인·술            7
육아·결혼          24
자동차            67
차·커피·디저트       27
패션·뷰티          77

In [9]:
pd.DataFrame(test_df[test_df['Credibility']==1].groupby(by='Category')['Title'].count())

          Title
Category
IT·컴퓨터      476
건강·의학       565
공연·전시       532
교육·학문       492
국내여행        475
드라마·방송      258
등산·낚시·레저    232
만화·애니       653
맛집         1033
사진         1682
스포츠         841
시사·인문·경제    565
어학·외국어      162
와인·술         80
육아·결혼       257
자동차         643
차·커피·디저트    254
패션·뷰티       742

## Question_mark

In [10]:
Question_Mark = test_df['Text'].fillna('').tolist()

In [510]:
count_Question = []
for i in Question_Mark:
    count_Question.append(i.count('?'))

## TFIDF

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pickle
import numpy as np

In [3]:
content_df = pd.read_csv('Content_based_features_csv.csv',encoding='utf-8',sep='\t')

## Text

In [4]:
loaded_vec_text = pickle.load(open("[Text]TFIDF_features_100.pkl", "rb"))

In [5]:
text = content_df['Embedding_text'].fillna('').tolist()

In [6]:
Post_id_list = content_df['Post_id'].tolist()

In [7]:
vector_text = []
for i in text:
    vector_text.append(loaded_vec_text.transform([i]).toarray())

In [8]:
vector = np.vstack(np.array(vector_text))

In [9]:
colum_name = loaded_vec_text.get_feature_names()

In [10]:
Text_df = pd.DataFrame(vector,columns=colum_name)

In [11]:
Text_df['Post_id'] = Post_id_list

In [12]:
Text_df = pd.merge(content_df,Text_df,how='left')

## Structure_tag

In [13]:
content_df = pd.read_csv('Content_based_features_csv.csv',encoding='utf-8',sep='\t')

In [14]:
loaded_vec_Structure_tag = pickle.load(open("[Structure_tag]TFIDF_features_100.pkl", "rb"))

In [15]:
Post_id_list = content_df['Post_id'].tolist()

In [16]:
content_df['Structure_tag'] = content_df['Structure_tag'].fillna('')

In [17]:
content_df['only_tag'] = content_df['Structure_tag'].apply(lambda x : " img ".join(list(map(lambda x : 'text' if len(x)>3 else '', x.split('<img>')))).strip().replace('  ',' '))

In [18]:
Structure_tag = content_df['only_tag'].tolist()

In [19]:
vector_Structure_tag = []
for i in Structure_tag:
    vector_Structure_tag.append(loaded_vec_Structure_tag.transform([i]).toarray())

In [20]:
vector = np.vstack(np.array(vector_Structure_tag))

In [21]:
colum_name = loaded_vec_Structure_tag.get_feature_names()

In [22]:
Structure_Tag_df = pd.DataFrame(vector,columns=colum_name)

In [23]:
Structure_Tag_df['Post_id'] = Post_id_list

In [24]:
Structure_Tag_df = pd.merge(Text_df,Structure_Tag_df,how='left')

## Tag

In [582]:
content_df = pd.read_csv('Content_based_features_csv.csv',encoding='utf-8',sep='\t')

In [26]:
loaded_vec_tag = pickle.load(open("[Tag]features_100.pkl", "rb"))

In [595]:
Tag_count = content_df['Tag'].fillna(0).apply(lambda x: len(x.split(' ')) if x!=0 else x).tolist()

In [588]:
Tag_count = []
for i in Tag:
    try:
        Tag_count.append(len(i.split(' ')))
    except:
        Tag_count.append(0)

In [28]:
Post_id_list = content_df['Post_id'].tolist()

In [29]:
content_df['Tag'] = content_df['Tag'].apply(lambda x : x.replace(',',' '))

In [30]:
Tag = content_df['Tag'].tolist()

In [31]:
vector_tag = []
for i in Tag:
    vector_tag.append(loaded_vec_tag.transform([i]).toarray())

In [32]:
vector = np.vstack(np.array(vector_tag))

In [33]:
colum_name = loaded_vec_tag.get_feature_names()

In [34]:
Tag_df = pd.DataFrame(vector,columns=colum_name)

In [35]:
Tag_df['Post_id'] = Post_id_list

In [36]:
Tag_df = pd.merge(Structure_Tag_df,Tag_df,how='left')

In [37]:
Tag_df.shape

(16304, 244)

In [38]:
Tag_df.columns.tolist()

['Post_id',
 'Title_len',
 'Count_space_mistake',
 'Map_exist',
 'Media_count',
 'Heart_count',
 'Sticker_count',
 'Comment_count',
 'Left',
 'Center',
 'Right',
 'Justify',
 'basic_font_check',
 'basic_font_size_check',
 'b_strong_word_len_ratio',
 'color_rgb_word_len_ratio',
 'First_ratio',
 'Second_ratio',
 'Text_len',
 'Img_count',
 'FR_url',
 'pos_ratio',
 'neg_ratio',
 'subjectivity',
 'polarity',
 'senti_diffs_per_ref',
 'Text',
 'Tag',
 'Structure_tag',
 'Credibility',
 'Embedding_text',
 '가능하다',
 '가다',
 '간단하다',
 '갈다',
 '계시다',
 '궁금하다',
 '그렇다',
 '깔끔하다',
 '나가다',
 '나다',
 '나오다',
 '남다',
 '내다',
 '너무',
 '넘다',
 '넣다',
 '높다',
 '느끼다',
 '늘다',
 '다니다',
 '다르다',
 '다양하다',
 '덥다',
 '돼다',
 '되다',
 '되어다',
 '두다',
 '드리다',
 '들다',
 '들어가다',
 '들이다',
 '따르다',
 '만나다',
 '만들다',
 '많다',
 '많이',
 '말다',
 '맛있다',
 '맞다',
 '먹다',
 '모르다',
 '믿다',
 '바라다',
 '받다',
 '버리다',
 '보내다',
 '보다',
 '보이다',
 '빠르다',
 '빠지다',
 '새롭다',
 '생기다',
 '서다',
 '쉬다',
 '시원하다',
 '싶다',
 '쓰다',
 '아니다',
 '아직',
 '안녕하다',
 '안되다',
 '않다',
 '알다',
 '알아보다',
 '어떻다',
 '어렵다',
 '없다',
 '없이',
 '예쁘다',
 '오다',
 '올리다',
 '원하다',
 '유명하다',
 '이렇게',
 '이렇다',
 '이르다',
 '인하다',
 '자다',
 '자세하다',
 '작다',
 '잡다',
 '저렴하다',
 '적다',
 '좋다',
 '좋아하다',
 '주다',
 '중요하다',
 '즐기다',
 '지다',
 '찍다',
 '차다',
 '찾다',
 '크다',
 '특히',
 '편하다',
 '필요하다',
 '해드리다',
 '해보다',
 '해주다',
 '힘들다',
 'img img img img img',
 'img img img img text',
 'img img img text img',
 'img img text img img',
 'img img text img text',
 'img text img img img',
 'img text img img text',
 'img text img text img',
 'text img img img img',
 'text img img img text',
 'text img img text img',
 'text img text img img',
 'text img text img text',
 '24시스터디카페',
 'it',
 'lg액정수리',
 '강남서울밝은안과',
 '결혼',
 '결혼준비',
 '골프',
 '공연',
 '교육',
 '국내여행',
 '귀성형수술',
 '김앤방여성의원',
 '누운귀성형',
 '눈썹문신',
 '다이어트',
 '대전맛집',
 '더새로이',
 '데일리룩',
 '돌출귀성형',
 '드라마',
 '디자인',
 '로맨틱그랑서울',
 '리뷰',
 '만화',
 '맛집',
 '몬스터폰',
 '미용',
 '뱃살성형',
 '뱃살수술',
 '복부성형',
 '복부성형가격',
 '복부성형후기',
 '복부수술',
 '본스타트레이닝센터',
 '부산',
 '부산치과',
 '비에이블스터디카페',
 '사진',
 '생각',
 '세계여행',
 '스터디장소',
 '스터디카페',
 '스터디카페추천',
 '스포츠',
 '스포츠분석',
 '스포츠중계',
 '시험준비',
 '신차드림',
 '아나레슨',
 '아나운서학원',
 '아이폰배터리할인',
 '아이폰수리',
 '아이폰액정수리',
 '애니',
 '애니메이션',
 '어린이영양제',
 '에이치비성형외과',
 '여행',
 '연기학원',
 '영어공부',
 '영어회화',
 '영화',
 '웨딩박람회',
 '육아',
 '이벤트',
 '일본여행',
 '일상',
 '임플란트',
 '입꼬리성형',
 '입꼬리성형수술',
 '입꼬리수술',
 '입꼬리수술비용',
 '입꼬리수술잘하는곳',
 '자격증',
 '자동차',
 '자동차리스',
 '장기렌트',
 '장기렌트카',
 '재택알바',
 '제주도',
 '제주도여행',
 '제주여행',
 '주식',
 '주식투자',
 '줄기세포가슴지방이식',
 '중간고사',
 '중고폰매입',
 '직장인미팅',
 '직장인솔로대첩',
 '창업',
 '처진뱃살',
 '첫글',
 '청담여신성형외과',
 '취미',
 '키성장영양제',
 '키영양제',
 '키크는방법',
 '키크는법',
 '패션',
 '학문']

## Total

In [39]:
Content_based_df = Tag_df.drop(columns=['Embedding_text','Text','Tag','Structure_tag'])

In [48]:
colum_name = Content_based_df.columns.tolist()

In [57]:
colum_name.remove('Credibility')

In [59]:
colum_name.append('Credibility')

In [64]:
Total_df = Content_based_df[colum_name]

In [69]:
Total_df.to_csv('[Final]Content_based_csv.csv',encoding='utf-8',sep='\t',index=False)

In [512]:
Total_df['Question_count'] = count_Question

/Users/yonggeol/miniconda3/envs/py/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [596]:
Total_df['Tag_count'] = Tag_count

/Users/yonggeol/miniconda3/envs/py/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [598]:
temp_col = Total_df.columns.tolist()[:-2]

In [600]:
temp_col.append('Tag_count')

In [601]:
temp_col.append('Credibility')

In [534]:
temp_list = Total_df.columns.tolist()[:-2]

In [535]:
temp_list.append('Question_count')

In [536]:
temp_list.append('Credibility')

In [602]:
Total_df = Total_df[temp_col]

In [603]:
Total_df.to_csv('[Final]Content_based_csv.csv',encoding='utf-8',sep='\t',index=False)

In [645]:
Total_df.columns.tolist()

['Post_id',
 'Title_len',
 'Count_space_mistake',
 'Map_exist',
 'Media_count',
 'Heart_count',
 'Sticker_count',
 'Comment_count',
 'Left',
 'Center',
 'Right',
 'Justify',
 'basic_font_check',
 'basic_font_size_check',
 'b_strong_word_len_ratio',
 'color_rgb_word_len_ratio',
 'First_ratio',
 'Second_ratio',
 'Text_len',
 'Img_count',
 'FR_url',
 'pos_ratio',
 'neg_ratio',
 'subjectivity',
 'polarity',
 'senti_diffs_per_ref',
 '가능하다',
 '가다',
 '간단하다',
 '갈다',
 '계시다',
 '궁금하다',
 '그렇다',
 '깔끔하다',
 '나가다',
 '나다',
 '나오다',
 '남다',
 '내다',
 '너무',
 '넘다',
 '넣다',
 '높다',
 '느끼다',
 '늘다',
 '다니다',
 '다르다',
 '다양하다',
 '덥다',
 '돼다',
 '되다',
 '되어다',
 '두다',
 '드리다',
 '들다',
 '들어가다',
 '들이다',
 '따르다',
 '만나다',
 '만들다',
 '많다',
 '많이',
 '말다',
 '맛있다',
 '맞다',
 '먹다',
 '모르다',
 '믿다',
 '바라다',
 '받다',
 '버리다',
 '보내다',
 '보다',
 '보이다',
 '빠르다',
 '빠지다',
 '새롭다',
 '생기다',
 '서다',
 '쉬다',
 '시원하다',
 '싶다',
 '쓰다',
 '아니다',
 '아직',
 '안녕하다',
 '안되다',
 '않다',
 '알다',
 '알아보다',
 '어떻다',
 '어렵다',
 '없다',
 '없이',
 '예쁘다',
 '오다',
 '올리다',
 '원하다',
 '유명하다',
 '이렇게',
 '이렇다',
 '이르다',
 '인하다',
 '자다',
 '자세하다',
 '작다',
 '잡다',
 '저렴하다',
 '적다',
 '좋다',
 '좋아하다',
 '주다',
 '중요하다',
 '즐기다',
 '지다',
 '찍다',
 '차다',
 '찾다',
 '크다',
 '특히',
 '편하다',
 '필요하다',
 '해드리다',
 '해보다',
 '해주다',
 '힘들다',
 'img img img img img',
 'img img img img text',
 'img img img text img',
 'img img text img img',
 'img img text img text',
 'img text img img img',
 'img text img img text',
 'img text img text img',
 'text img img img img',
 'text img img img text',
 'text img img text img',
 'text img text img img',
 'text img text img text',
 '24시스터디카페',
 'it',
 'lg액정수리',
 '강남서울밝은안과',
 '결혼',
 '결혼준비',
 '골프',
 '공연',
 '교육',
 '국내여행',
 '귀성형수술',
 '김앤방여성의원',
 '누운귀성형',
 '눈썹문신',
 '다이어트',
 '대전맛집',
 '더새로이',
 '데일리룩',
 '돌출귀성형',
 '드라마',
 '디자인',
 '로맨틱그랑서울',
 '리뷰',
 '만화',
 '맛집',
 '몬스터폰',
 '미용',
 '뱃살성형',
 '뱃살수술',
 '복부성형',
 '복부성형가격',
 '복부성형후기',
 '복부수술',
 '본스타트레이닝센터',
 '부산',
 '부산치과',
 '비에이블스터디카페',
 '사진',
 '생각',
 '세계여행',
 '스터디장소',
 '스터디카페',
 '스터디카페추천',
 '스포츠',
 '스포츠분석',
 '스포츠중계',
 '시험준비',
 '신차드림',
 '아나레슨',
 '아나운서학원',
 '아이폰배터리할인',
 '아이폰수리',
 '아이폰액정수리',
 '애니',
 '애니메이션',
 '어린이영양제',
 '에이치비성형외과',
 '여행',
 '연기학원',
 '영어공부',
 '영어회화',
 '영화',
 '웨딩박람회',
 '육아',
 '이벤트',
 '일본여행',
 '일상',
 '임플란트',
 '입꼬리성형',
 '입꼬리성형수술',
 '입꼬리수술',
 '입꼬리수술비용',
 '입꼬리수술잘하는곳',
 '자격증',
 '자동차',
 '자동차리스',
 '장기렌트',
 '장기렌트카',
 '재택알바',
 '제주도',
 '제주도여행',
 '제주여행',
 '주식',
 '주식투자',
 '줄기세포가슴지방이식',
 '중간고사',
 '중고폰매입',
 '직장인미팅',
 '직장인솔로대첩',
 '창업',
 '처진뱃살',
 '첫글',
 '청담여신성형외과',
 '취미',
 '키성장영양제',
 '키영양제',
 '키크는방법',
 '키크는법',
 '패션',
 '학문',
 'Question_count',
 'Tag_count',
 'Credibility']

## User_based_features

In [606]:
sql = '''
select p.Post_id, p.Date,group_concat(DISTINCT cmt.Comment_Time) as Comment_Time, u.blog_info_text, u.Count_neighbors, u.Total_post, u.Count_visitors, u.Categories, u.Count_categories, u.Blog_mobile_profile_img,u.Blog_mobile_cover_img,u.Opening_date,Post_interval_average,p.Text_similarity,group_concat(DISTINCT cmt.Comment_ID) as Comment_ID,u.User_Id,u.Credibility
    FROM POST as p
    Left JOIN Post_style as style
        ON p.Post_id = style.Post_id
    Left JOIN img as i
        ON p.Post_id = i.Post_id
    Left JOIN user as u
        ON p.user_id = u.user_id
    Left JOIN Comment_interaction as cmt
        ON p.Post_id = cmt.Post_id        
    GROUP BY p.Post_id;
'''
cur.execute(sql)
rows = cur.fetchall()

In [607]:
pd.DataFrame(rows)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,100027815366,2006. 8. 25. 0:40,"2007.12.11. 20:58,2006.8.25. 15:01,2007.12.19....",자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,0.232631,"coco2243,hahnn1,kkk1194,simmiani,yhh0924",hahnn1,1
1,100050521880,2008. 5. 8. 1:21,"2008.5.22. 20:48,2008.5.24. 01:15,2008.5.23. 2...",자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,0.112250,"hahnn1,purusego,studiohan,with_dust,yhh0924",hahnn1,1
2,100052476065,2008. 7. 6. 1:01,"2008.7.12. 02:10,2008.7.17. 01:08,2008.7.12. 1...",자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,0.071837,"9810213,bichoobichoo,hahnn1,jhcworld,ppoppopia...",hahnn1,1
3,100052627538,2008. 7. 11. 10:28,"2008.7.25. 22:31,2008.7.24. 23:57,2008.7.24. 1...",자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,0.246814,"0501mansae,9810213,hahnn1,marrian,purusego,yhh...",hahnn1,1
4,100052919717,2008. 7. 20. 23:29,None,자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,0.227445,None,hahnn1,1
5,100053144381,2008. 7. 27. 14:17,"2010.3.12. 16:32,2008.8.18. 12:22,2008.8.18. 1...",자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,0.221925,"cinetist,hahnn1,idea365,jhcworld,purusego,with...",hahnn1,1
6,100053820465,2008. 8. 17. 18:24,"2008.9.12. 11:15,2008.9.12. 09:56",자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,0.043462,"hahnn1,yhh0924",hahnn1,1
7,100054338281,2008. 8. 31. 0:52,"2008.9.16. 13:59,2008.9.15. 17:23",자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,0.065938,"hahnn1,purusego",hahnn1,1
8,100064414352,2009. 3. 28. 14:13,"2009.3.29. 12:32,2009.3.30. 14:06,2009.3.29. 1...",자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,0.086118,"hahnn1,obvan,yhh0924",hahnn1,1
9,100067528683,2009. 5. 26. 0:42,None,자기소개를 입력하세요.,976,1769,927604,"[(122, ""'Olive'""), (17, ""'올리브호주Aussie'""), (5, ...",64,Naver\hahnn1\Cover_hahnn1.jpg,Naver\hahnn1\Profile_hahnn1.jpg,2005.04.09.,10.666667,NaN,None,hahnn1,1
10,10007492085,2006. 8. 19. 1:50,"2006.9.5. 10:38,2006.12.12. 02:04,2006.8.21. 0...",런던 치즈가게에서 산골 치즈 농장까지 여행기가 시작 됩니다.,3217,293,439774,"[(20, ""'치즈에 빠져 영국을 누비다.'""), (11, ""'치즈,하몽 스페인을 ...",11,Naver\daropa7\Cover_daropa7.jpg,Naver\daropa7\Profile_daropa7.jpg,2005.06.14.,59.333333,0.195875,"gyalszzang,nayaqueen,parksek4969,wonsim80",daropa7,1
11,10007636877,2006. 8. 23. 1:01,None,런던 치즈가게에서 산골 치즈 농장까지 여행기가 시작 됩니다.,3217,293,439774,"[(20, ""'치즈에 빠져 영국을 누비다.'""), (11, ""'치즈,하몽 스페인을 ...",11,Naver\daropa7\Cover_daropa7.jpg,Naver\daropa7\Profile_daropa7.jpg,2005.06.14.,59.333333,NaN,None,daropa7,1
12,10007647247,2006. 8. 23. 12:14,"2006.9.6. 15:01,2006.9.5. 16:31,2006.8.24. 09:58",런던 치즈가게에서 산골 치즈 농장까지 여행기가 시작 됩니다.,3217,293,439774,"[(20, ""'치즈에 빠져 영국을 누비다.'""), (11, ""'치즈,하몽 스페인을 ...",11,Naver\daropa7\Cover_daropa7.jpg,Naver\daropa7\Profile_daropa7.jpg,2005.06.14.,59.333333,NaN,"daropa7,mozz,parksek4969",daropa7,1
13,10007660206,2006. 8. 23. 18:10,"2007.1.11. 16:03,2006.11.20. 04:27",런던 치즈가게에서 산골 치즈 농장까지 여행기가 시작 됩니다.,3217,293,439774,"[(20, ""'치즈에 빠져 영국을 누비다.'""), (11, ""'치즈,하몽 스페인을 ...",11,Naver\daropa7\Cover_daropa7.jpg,Naver\daropa7\Profile_daropa7.jpg,2005.06.14.,59.333333,0.356026,"jfireaway,meimomo",daropa7,1
14,10007671878,2006. 8. 23. 23:56,"2014.12.15. 16:22,2014.12.15. 01:28,2006.9.29....",런던 치즈가게에서 산골 치즈 농장까지 여행기가 시작 됩니다.,3217,293,439774,"[(20, ""'치즈에 빠져 영국을 누비다.'""), (11, ""'치즈,하몽 스페인을 ...",11,Naver\daropa7\Cover_daropa7.jpg,Naver\daropa7\Profile_daropa7.jpg,2005.06.14.,59.333333,0.114211,"daropa7,dksdbwls53,dubious3,eric0321jj,hwanjan...",daropa7,1
15,100105269130,2010. 5. 13. 0:42,"2010.5.13. 15:33,2010.5.13. 17:47,2010.5.13. 1...",유쾌한 도시노동자의 발랄한 세계여행 :D,2754,1225,3843725,"[(45, ""'My diary'""), (47, ""'카라다발'""), (1, ""'유쾌한...",69,Naver\limej\Cover_limej.jpg,Naver\limej\Profile_limej.jpg,2005.01.22.,1.500000,NaN,"ainikyung,cadbury,chunryu_chu,j_ho,limej,mb623...",limej,1
16,100106204166,2010. 5. 28. 19:40,"2010.5.28. 20:06,2010.5.29. 11:44,2010.5.28. 2...",유쾌한 도시노동자의 발랄한 세계여행 :D,2754,1225,3843725,"[(45, ""'My diary'""), (47, ""'카라다발'""), (1, ""'유쾌한...",69,Naver\limej\Cover_limej.jpg,Naver\limej\Profile_limej.jpg,2005.01.22.,1.500000,NaN,"alice326,blossom0124,cute30912,eying,j_ho,jaet...",limej,1
17,100106452748,2010. 6. 1. 20:10,"2010.6.1. 21:12,2010.6.1. 20:32,2010.6.1. 23:1...",유쾌한 도시노동자의 발랄한 세계여행 :D,2754,1225,3843725,"[(45, ""'My diary'""), (47, ""'카라다발'""), (1, ""'유쾌한...",69,Naver\limej\Cover_limej.jpg,Naver\limej\Profile_limej.jpg,2005.01.22.,1.500000,NaN,"ainikyung,alice326,cute30912,ggiku4,hopetravel...",limej,1
18,100111349637,2010. 8. 18. 13:30,"2010.8.18. 14:25,2010.8.18. 13:57,2010.8.18. 2...",유쾌한 도시노동자의 발랄한 세계여행 :D,2754,1225,3843725,"[(45, ""'My diary'""), (47, ""'카라다발'""), (1, ""'유쾌한...",69,Naver\limej\Cover_limej.jpg,Naver\limej\Profile_limej.jpg,2005.01.22.,1.500000,0.413853,"acarooi,bmgroup,cute30912,fish7173,gofl930517,...",limej,1
19,100112770,2010. 2. 14. 19:17,None,어떤 종류의 망상도 없이 행복한 인간은 없다. 망상은 현실의 행복만큼이나 필요하다....,3726,3975,1904206,"[(278, ""'Anastasia'""), (77, ""'살아내기'""), (24, ""'...",97,Naver\jayoo1207\Cover_jayoo1207.jpg,Naver\jayoo1207\Profile_jayoo1207.jpg,2004.12.25.,0.500000,0.407363,None,jayoo1207,1
20,100112785786,2010. 9. 10. 23:05,None,"no pain,no gain so i can't complain...",51,73,97020,"[(1, ""'플랜'""), (71, ""'수업자료DB'""), (0, ""'갤러리'""), ...",7,dbdbdeep\wrenn\Cover_wrenn.jpg,dbdbdeep\wrenn\Profile_wrenn.jpg,2005.01.09.,112.200000,0.351408,None,wrenn,0
21,100112857,2010. 2. 14. 19:19,"2013.10.17. 19:22,2013.10.17. 19:54",어떤 종류의 망상도 없이 행복한 인간은 없다. 망상은 현실의 행복만큼이나 필요하다....,3726,3975,1904206,"[(278, ""'Anastasia'""), (77, ""'살아내기'""), (24, ""'...",97,Naver\jayoo1207\Cover_jayoo1207.jpg,Naver\jayoo1207\Profile_jayoo1207.jpg,2004.12.25.,0.500000,0.299522,"hinayana999,jayoo1207",jayoo1207,1
22,100112964,2010. 2. 14. 19:22,None,어떤 종류의 망상도 없이 행복한 인간은 없다. 망상은 현실의 행복만큼이나 필요하다....,3726,3975,1904206,"[(278, ""'Anastasia'""), (77, ""'살아내기'""), (24, ""'...",97,Naver\jayoo1207\Cover_jayoo1207.jpg,Naver\jayoo1207\Profile_jayoo1207.jpg,2004.12.25.,0.500000,0.314266,None,jayoo1207,1
23,100113027,2010. 2. 14. 19:23,None,어떤 종류의 망상도 없이 행복한 인간은 없다. 망상은 현실의 행복만큼이나 필요하다....,3726,3975,1904206,"[(278, ""'Anastasia'""), (77, ""'살아내기'""), (24, ""'...",97,Naver\jayoo1207\Cover_jayoo1207.jpg,Naver\jayoo1207\Profile_jayoo1207.jpg,2004.12.25.,0.500000,0.296623,None,jayoo1207,1
24,100113114,2010. 2. 14. 19:26,None,어떤 종류의 망상도 없이 행복한 인간은 없다. 망상은 현실의 행복만큼이나 필요하다....,3726,3975,1904206,"[(278, ""'Anastasia'""), (77, ""'살아내기'""), (24, ""'...",97,Naver\jayoo1207\Cover_jayoo1207.jpg,Naver\jayoo1207\Profile_jayoo1207.jpg,2004.12.25.,0.500000,0.277720,None,jayoo1207,1
25,100113657849,2010. 9. 27. 10:58,"2010.9.27. 13:05,2010.9.27. 11:38,2010.9.27. 1...",유쾌한 도시노동자의 발랄한 세계여행 :D,2754,1225,3843725,"[(45, ""'My diary'""), (47, ""'카라다발'""), (1, ""'유쾌한...",69,Naver\limej\Cover_limej.jpg,Naver\limej\Profile_limej.jpg,2005.01.22.,1.500000,0.432451,"99m00n,acarooi,chinaonline,feshinji,jay0310,ke...",limej,1
26,100114034133,2010. 10. 4. 11:28,"2010.10.5. 17:35,2010.10.4. 12:13,2010.10.4. 1...",유쾌한 도시노동자의 발랄한 세계여행 :D,2754,1225,3843725,"[(45, ""'My diary'""), (47, ""'카라다발'""), (1, ""'유쾌한...",69,Naver\limej\Cover_limej.jpg,Naver\limej\Profile_limej.jpg,2005.01.22.,1.500000,0.387590,"acarooi,arumu07,blossom0124,dajavu,jay0310,jji...",limej,1
27,100117313336,2010. 12. 1. 7:39,"2010.12.3. 13:06,2010.12.2. 08:29,2010.12.2. 0...",<틈만나면딴생각><카피책><내머리사용법><한글자>라는 책을 쓴 카피라이터 정철입니다.,6207,1918,1086597,"[(3, ""'틈만나면딴생각'""), (6, ""'꼰대김철수'""), (26, ""'카피책'...",42,Naver\cwjccwjc\Cover_cwjccwjc.jpg,Naver\cwjccwjc\Profile_cwjccwjc.jpg,2007.11.01.,87.000000,NaN,"cepheid_0128,cwjccwjc,hblee0607,jhyemin419,kik...",cwjccwjc,1
28,100117623799,2010. 12. 7. 6:23,"2010.12.8. 15:50,2010.12.7. 09:52,2010.12.7. 1...",<틈만나면딴생각><카피책><내머리사용법><한글자>라는 책을 쓴 카피라이터 정철입니다.,6207,1918,1086597,"[(3, ""'틈만나면딴생각'""), (6, ""'꼰대김철수'""), (26, ""'카피책'...",42,Naver\cwjccwjc\Cover_cwjccwjc.jpg,Naver\cwjccwjc\Profile_cwjccwjc.jpg,2007.11.01.,87.000000,NaN,"cepheid_0128,cheong9lee,cwjccwjc,gksltu,hblee0...",cwjccwjc,1
29,100117736314,2010. 12. 9. 7:09,"2010.12.9. 22:32,2010.12.10. 05:54,2010.12.10....",<틈만나면딴생각><카피책><내머리사용법><한글자>라는 책을 쓴 카피라이터 정철입니다.,6207,1918,1086597,"[(3, ""'틈만나면딴생각'""), (6, ""'꼰대김철수'""), (26, ""'카피책'...",42,Naver\cwjccwjc\Cover_cwjccwjc.jpg,Naver\cwjccwjc\Profile_cwjccwjc.jpg,2007.11.01.,87.000000,NaN,"coffpp95,cwjccwjc,miraie78,mp3zon,pon310,ruke7...",cwjccwjc,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16274,90179226420,2013. 8. 29. 7:45,None,None,2895,411,1720603,"[(247, ""'더푸른치과 진료'""), (62, ""'치과기본상식'""), (37, ""...",21,Naver\ddsyjk\Cover_ddsyjk.jpg,Naver\ddsyjk\Profile_ddsyjk.jpg,2009.02.07.,26.833333,0.167855,None,ddsyjk,1
16275,90182897200,2013. 10. 16. 8:30,None,None,2895,411,1720603,"[(247, ""'더푸른치과 진료'""), (62, ""'치과기본상식'""), (37, ""...",21,Naver\ddsyjk\Cover_ddsyjk.jpg,Naver\ddsyjk\Profile_ddsyjk.jpg,2009.02.07.,26.833333,0.245641,None,ddsyjk,1
16276,90183813735,2013. 11. 10. 17:10,None,역사와 문화 그 안의 사람들 그리고 우리 땅이 좋아서,4244,2685,2193467,"[(250, ""'준비운동'""), (13, ""'날씨이야기'""), (24, ""'절기와 ...",135,Naver\skyung0512\Cover_skyung0512.jpg,Naver\skyung0512\Profile_skyung0512.jpg,2012.08.30.,1.000000,0.373772,None,skyung0512,1
16277,90184377103,2013. 11. 17. 17:10,None,역사와 문화 그 안의 사람들 그리고 우리 땅이 좋아서,4244,2685,2193467,"[(250, ""'준비운동'""), (13, ""'날씨이야기'""), (24, ""'절기와 ...",135,Naver\skyung0512\Cover_skyung0512.jpg,Naver\skyung0512\Profile_skyung0512.jpg,2012.08.30.,1.000000,0.364360,None,skyung0512,1
16278,90184611862,2013. 11. 24. 17:00,None,역사와 문화 그 안의 사람들 그리고 우리 땅이 좋아서,4244,2685,2193467,"[(250, ""'준비운동'""), (13, ""'날씨이야기'""), (24, ""'절기와 ...",135,Naver\skyung0512\Cover_skyung0512.jpg,Naver\skyung0512\Profile_skyung0512.jpg,2012.08.30.,1.000000,0.376117,None,skyung0512,1
16279,90185202151,2015. 5. 28. 7:33,"2016.1.29. 13:33,2016.4.17. 23:43,2016.4.18. 0...",None,2895,411,1720603,"[(247, ""'더푸른치과 진료'""), (62, ""'치과기본상식'""), (37, ""...",21,Naver\ddsyjk\Cover_ddsyjk.jpg,Naver\ddsyjk\Profile_ddsyjk.jpg,2009.02.07.,26.833333,0.341863,"7345black,ddsyjk,kingkong8080,nitor",ddsyjk,1
16280,90185224530,2013. 12. 1. 17:10,None,역사와 문화 그 안의 사람들 그리고 우리 땅이 좋아서,4244,2685,2193467,"[(250, ""'준비운동'""), (13, ""'날씨이야기'""), (24, ""'절기와 ...",135,Naver\skyung0512\Cover_skyung0512.jpg,Naver\skyung0512\Profile_skyung0512.jpg,2012.08.30.,1.000000,0.385524,None,skyung0512,1
16281,90185357888,2013. 11. 25. 23:10,2013.11.26. 00:00,※서로이웃은 NO!!!※ 내일은 또 다른 내일이 열릴거야!,2030,11539,3509717,"[(2826, ""'육아 놀이 일상'""), (17, ""'♥사랑이와 마주 이야기♥'"")...",262,dbdbdeep\ikandgy\Cover_ikandgy.jpg,dbdbdeep\ikandgy\Profile_ikandgy.jpg,2006.05.26.,3.333333,0.213676,wpdldoswl,ikandgy,0
16282,90185689676,2013. 12. 8. 17:30,2013.12.9. 23:34,역사와 문화 그 안의 사람들 그리고 우리 땅이 좋아서,4244,2685,2193467,"[(250, ""'준비운동'""), (13, ""'날씨이야기'""), (24, ""'절기와 ...",135,Naver\skyung0512\Cover_skyung0512.jpg,Naver\skyung0512\Profile_skyung0512.jpg,2012.08.30.,1.000000,0.356955,tjdgus114114,skyung0512,1
16283,90186186777,2013. 12. 15. 17:50,"2013.12.16. 01:43,2013.12.17. 22:02",역사와 문화 그 안의 사람들 그리고 우리 땅이 좋아서,4244,2685,2193467,"[(250, ""'준비운동'""), (13, ""'날씨이야기'""), (24, ""'절기와 ...",135,Naver\skyung0512\Cover_skyung0512.jpg,Naver\skyung0512\Profile_skyung0512.jpg,2012.08.30.,1.000000,0.347388,"chobosch,skyung0512",skyung0512,1
16284,90186638875,2013. 12. 28. 8:30,None,역사와 문화 그 안의 사람들 그리고 우리 땅이 좋아서,4244,2685,2193467,"[(250, ""'준비운동'""), (13, ""'날씨이야기'""), (24, ""'절기와 ...",135,Naver\skyung0512\Cover_skyung0512.jpg,Naver\skyung0512\Profile_skyung0512.jpg,2012.08.30.,1.000000,0.400699,None,skyung0512,1
16285,90187127763,2014. 1. 4. 10:50,None,역사와 문화 그 안의 사람들 그리고 우리 땅이 좋아서,4244,2685,2193467,"[(250, ""'준비운동'""), (13, ""'날씨이야기'""), (24, ""'절기와 ...",135,Naver\skyung0512\Cover_skyung0512.jpg,Naver\skyung0512\Profile_skyung0512.jpg,2012.08.30.,1.000000,0.362767,None,skyung0512,1
16286,90187720840,2014. 1. 18. 10:00,None,역사와 문화 그 안의 사람들 그리고 우리 땅이 좋아서,4244,2685,2193467,"[(250, ""'준비운동'""), (13, ""'날씨이야기'""), (24, ""'절기와 ...",135,Naver\skyung0512\Cover_skyung0512.jpg,Naver\skyung0512\Profile_skyung0512.jpg,2012.08.30.,1.000000,0.293585,None,skyung0512,1
16287,90190369041,2014. 2. 21. 7:48,"2015.2.13. 09:23,2014.11.6. 22:29,2015.2.13. 1...",None,2895,411,1720603,"[(247, ""'더푸른치과 진료'""), (62, ""'치과기본상식'""), (37, ""...",21,Naver\ddsyjk\Cover_ddsyjk.jpg,Naver\ddsyjk\Profile_ddsyjk.jpg,2009.02.07.,26.833333,0.307773,"alwgls,ddsyjk,idpc8999,lki6679,o508_",ddsyjk,1
16288,90191952387,2014. 3. 12. 8:06,None,None,2895,411,1720603,"[(247, ""'더푸른치과 진료'""), (62, ""'치과기본상식'""), (37, ""...",21,Naver\ddsyjk\Cover_ddsyjk.jpg,Naver\ddsyjk\Profile_ddsyjk.jpg,2009.02.07.,26.833333,0.206772,None,ddsyjk,1
16289,90192512049,2014. 3. 21. 7:33,None,None,2895,411,1720603,"[(247, ""'더푸른치과 진료'""), (62, ""'치과기본상식'""), (37, ""...",21,Naver\ddsyjk\Cover_ddsyjk.jpg,Naver\ddsyjk\Profile_ddsyjk.jpg,2009.02.07.,26.833333,0.238595,None,ddsyjk,1
16290,90192815409,2014. 6. 16. 7:56,"2014.7.13. 22:52,2014.6.17. 07:29,2014.7.14. 0...",None,2895,411,1720603,"[(247, ""'더푸른치과 진료'""), (62, ""'치과기본상식'""), (37, ""...",21,Naver\ddsyjk\Cover_ddsyjk.jpg,Naver\ddsyjk\Profile_ddsyjk.jpg,2009.02.07.,26.833333,0.184839,"8282print,ddsyjk,fanie,frind113,gi39278,menter...",ddsyjk,1
16291,90193398049,2014. 4. 4. 13:40,"2014.4.10. 14:06,2014.4.10. 09:14",어설픈 락필...,385,2015,1412431,"[(932, ""'일상,습작,추억'""), (73, ""'instagram'""), (39...",25,Naver\deathrock\Cover_deathrock.jpg,Naver\deathrock\Profile_deathrock.jpg,2003.10.29.,8.333333,0.019745,"deathrock,wolfandman",deathrock,1
16292,90194464378,2014. 4. 22. 7:53,None,欲爲大者當爲人役( 욕위대자당위인역) - 크고자 하거든 남을 섬기라!! 하쿠나마타타 ...,717,1169,2294876,"[(44, ""'Windows Intune'""), (43, ""'Windows 10'""...",35,Naver\hakunamata2\Cover_hakunamata2.jpg,Naver\hakunamata2\Profile_hakunamata2.jpg,2004.05.11.,42.400000,NaN,None,hakunamata2,1
16293,90194464404,2014. 4. 22. 7:54,None,欲爲大者當爲人役( 욕위대자당위인역) - 크고자 하거든 남을 섬기라!! 하쿠나마타타 ...,717,1169,2294876,"[(44, ""'Windows Intune'""), (43, ""'Windows 10'""...",35,Naver\hakunamata2\Cover_hakunamata2.jpg,Naver\hakunamata2\Profile_hakunamata2.jpg,2004.05.11.,42.400000,NaN,None,hakunamata2,1
16294,90194464436,2014. 4. 22. 7:56,None,欲爲大者當爲人役( 욕위대자당위인역) - 크고자 하거든 남을 섬기라!! 하쿠나마타타 ...,717,1169,2294876,"[(44, ""'Windows Intune'""), (43, ""'Windows 10'""...",35,Naver\hakunamata2\Cover_hakunamata2.jpg,Naver\hakunamata2\Profile_hakunamata2.jpg,2004.05.11.,42.400000,NaN,None,hakunamata2,1
16295,90194464448,2014. 4. 22. 7:58,None,欲爲大者當爲人役( 욕위대자당위인역) - 크고자 하거든 남을 섬기라!! 하쿠나마타타 ...,717,1169,2294876,"[(44, ""'Windows Intune'""), (43, ""'Windows 10'""...",35,Naver\hakunamata2\Cover_hakunamata2.jpg,Naver\hakunamata2\Profile_hakunamata2.jpg,2004.05.11.,42.400000,NaN,None,hakunamata2,1
16296,90194464481,2014. 4. 22. 7:59,None,欲爲大者當爲人役( 욕위대자당위인역) - 크고자 하거든 남을 섬기라!! 하쿠나마타타 ...,717,1169,2294876,"[(44, ""'Windows Intune'""), (43, ""'Windows 10'""...",35,Naver\hakunamata2\Cover_hakunamata2.jpg,Naver\hakunamata2\Profile_hakunamata2.jpg,2004.05.11.,42.400000,NaN,None,hakunamata2,1
16297,90195663632,2014. 5. 12. 7:42,"2017.1.13. 00:15,2016.2.6. 07:58,2017.1.13. 10:27",None,2895,411,1720603,"[(247, ""'더푸른치과 진료'""), (62, ""'치과기본상식'""), (37, ""...",21,Naver\ddsyjk\Cover_ddsyjk.jpg,Naver\ddsyjk\Profile_ddsyjk.jpg,2009.02.07.,26.833333,0.251945,"ddsyjk,qazwsx032",ddsyjk,1
16298,90558241,2009. 10. 6. 12:15,None,여행이라는 쉼표가 있어 행복한 삐지리맘의 행복창고!!,6745,2566,5352057,"[(139, ""'맛있는일상'""), (763, ""'먹으러가자'""), (361, ""'삐...",22,Naver\kwpjulie\Cover_kwpjulie.jpg,Naver\kwpjulie\Profile_kwpjulie.jpg,2005.07.01.,1.333333,0.200324,None,kwpjulie,1
16299,94918204,2009. 12. 7. 12:40,2010.1.10. 23:29,"취미는 IT와 백패킹. 현 캠핑트렁크 및 블럭팡, 코딩놀자, 플스빌, 건담빌 대표",19189,1768,11036603,"[(187, ""'블로그1면 및 공식행사'""), (24, ""'삼성SDI 필진'""), ...",75,Naver\namfx\Cover_namfx.jpg,Naver\namfx\Profile_namfx.jpg,2004.11.07.,61.666667,NaN,moondeang,namfx,1
16300,97282619,2010. 1. 8. 19:00,None,"취미는 IT와 백패킹. 현 캠핑트렁크 및 블럭팡, 코딩놀자, 플스빌, 건담빌 대표",19189,1768,11036603,"[(187, ""'블로그1면 및 공식행사'""), (24, ""'삼성SDI 필진'""), ...",75,Naver\namfx\Cover_namfx.jpg,Naver\namfx\Profile_namfx.jpg,2004.11.07.,61.666667,0.088539,None,namfx,1
16301,98362660,2010. 1. 22. 19:10,"2010.1.25. 13:12,2010.1.22. 19:28,2010.1.22. 2...","취미는 IT와 백패킹. 현 캠핑트렁크 및 블럭팡, 코딩놀자, 플스빌, 건담빌 대표",19189,1768,11036603,"[(187, ""'블로그1면 및 공식행사'""), (24, ""'삼성SDI 필진'""), ...",75,Naver\namfx\Cover_namfx.jpg,Naver\namfx\Profile_namfx.jpg,2004.11.07.,61.666667,NaN,"6h2lo,chaos2326,ganzinoo,kkwoo8420,mooree5,nam...",namfx,1
16302,98403127,2010. 1. 23. 2:03,"2010.1.24. 22:06,2010.1.24. 22:08,2010.1.24. 2...","취미는 IT와 백패킹. 현 캠핑트렁크 및 블럭팡, 코딩놀자, 플스빌, 건담빌 대표",19189,1768,11036603,"[(187, ""'블로그1면 및 공식행사'""), (24, ""'삼성SDI 필진'""), ...",75,Naver\namfx\Cover_namfx.jpg,Naver\namfx\Profile_namfx.jpg,2004.11.07.,61.666667,0.103403,"namfx,namojo,njnpin,owoosam,pina222,rakesis27,...",namfx,1
16303,99650382,2010. 2. 7. 23:50,"2010.2.28. 00:28,2010.2.8. 18:17,2010.2.8. 18:...","취미는 IT와 백패킹. 현 캠핑트렁크 및 블럭팡, 코딩놀자, 플스빌, 건담빌 대표",19189,1768,11036603,"[(187, ""'블로그1면 및 공식행사'""), (24, ""'삼성SDI 필진'""), ...",75,Naver\namfx\Cover_namfx.jpg,Naver\namfx\Profile_namfx.jpg,2004.11.07.,61.666667,0.047738,"namfx,neoplog,oysters,pina222,rakesis27,rukxer...",namfx,1

In [608]:
column_name = [i[0] for i in cur.description]
User_based = pd.DataFrame(rows)
User_based.columns = column_name

In [609]:
User_based.shape

(16304, 17)

In [610]:
User_based['Blog_info_text_len'] = User_based['Blog_info_text'].fillna('').apply(lambda x : len(x))

In [611]:
Comment_id = User_based['Comment_ID'].fillna('').apply(lambda x : x.split(',')).tolist()

In [612]:
User_id = User_based['User_Id'].tolist()

In [613]:
check_list = []
for i , Comment_id in enumerate(Comment_id):
    if User_id[i] in Comment_id:
        check_list.append(1)
    else:
        check_list.append(0)

In [614]:
User_based['Comment_interaction'] = check_list

## User_id charcher

In [615]:
import re
p = re.compile("[^0-9]")
User_id_len = len(User_based['User_Id'].iloc[0])
Char_len = len("".join(p.findall(User_based['User_Id'].iloc[0])))
num_len = User_id_len - Char_len

In [616]:
import re
p = re.compile("[^0-9]")
User_based['User_Id_len'] = User_based['User_Id'].apply(lambda x : len(x))
User_based['User_Id_contain_num'] = User_based['User_Id'].apply(lambda x : len("".join(p.findall(x))))
User_based['User_Id_contain_char'] = User_based['User_Id_len'] - User_based['User_Id_contain_num']

## Time Stamp

In [617]:
from datetime import datetime
import time
def timestamp_encoding(Time):
    Time = Time.replace(' ','')
    timestamp = time.mktime(datetime.strptime(Time,'%Y.%m.%d.%H:%M').timetuple())
    return timestamp

def timestamp_decoding(Time):
    timestamp = datetime.fromtimestamp(timestamp).strftime('%Y.%m,%d.%H:%M')
    return timestamp

In [618]:
User_date = User_based['Date'].tolist()

In [619]:
User_date[0]

'2006. 8. 25. 0:40'

In [620]:
User_date_list = []
for i in User_date:
    try:
        date = i.replace(' ','')
        timestamp = timestamp_encoding(date)
        User_date_list.append(timestamp)
    except:
        User_date_list.append(None)

In [621]:
User_based['Date'] = User_date_list

In [622]:
Comment_time = User_based['Comment_Time'].tolist()

In [623]:
Average_comment_time = []
First_comment_time = []
for i in Comment_time:
    try:
        Comment_string = i.replace(' ','')
        Comment_time_list = Comment_string.split(',')
        Total_comment_time = []
        
        for j in Comment_time_list:
            Total_comment_time.append(timestamp_encoding(j))

        Average_comment_time.append(sum(Total_comment_time)/len(Total_comment_time))
        
        First_comment_time.append(Total_comment_time[-1])
    except:
        Average_comment_time.append(None)
        First_comment_time.append(None)

In [624]:
comment_diff = []
First_comment_diff = []

for i , User_date in enumerate(User_date_list):
    try:
        comment_diff.append(Average_comment_time[i] - User_date )
    except:
        comment_diff.append(None)
    try:
        First_comment_diff.append(First_comment_time[i] - User_date)
    except:
        First_comment_diff.append(None)

In [625]:
User_based.columns.tolist()

['Post_id',
 'Date',
 'Comment_Time',
 'Blog_info_text',
 'Count_neighbors',
 'Total_post',
 'Count_visitors',
 'Categories',
 'Count_categories',
 'Blog_mobile_profile_img',
 'Blog_mobile_cover_img',
 'Opening_date',
 'Post_interval_average',
 'Text_similarity',
 'Comment_ID',
 'User_Id',
 'Credibility',
 'Blog_info_text_len',
 'Comment_interaction',
 'User_Id_len',
 'User_Id_contain_num',
 'User_Id_contain_char']

In [626]:
User_based['Average_comment_diff'] = comment_diff
User_based['First_comment_diff'] = First_comment_diff

In [627]:
def timestamp_encoding_opennig_date(Time):
    Time = Time.replace(' ','')
    timestamp = time.mktime(datetime.strptime(Time,'%Y.%m.%d.').timetuple())
    return timestamp

In [628]:
date = User_based['Opening_date'].tolist()

In [629]:
date_list = []
for i in date:
    try:
        date_list.append(timestamp_encoding_opennig_date(i))
    except:
        date_list.append(None)

In [630]:
User_based['Opening_date'] = date_list

In [631]:
User_df = User_based[['Blog_info_text_len','Count_neighbors','Count_visitors','Post_interval_average','Text_similarity','Total_post','User_Id_len','User_Id_contain_num','User_Id_contain_char','Comment_interaction','Count_categories','Average_comment_diff','First_comment_diff','Opening_date','Blog_mobile_profile_img','Blog_mobile_cover_img','Credibility']]

In [632]:
User_df.columns.tolist()

['Blog_info_text_len',
 'Count_neighbors',
 'Count_visitors',
 'Post_interval_average',
 'Text_similarity',
 'Total_post',
 'User_Id_len',
 'User_Id_contain_num',
 'User_Id_contain_char',
 'Comment_interaction',
 'Count_categories',
 'Average_comment_diff',
 'First_comment_diff',
 'Opening_date',
 'Blog_mobile_profile_img',
 'Blog_mobile_cover_img',
 'Credibility']

## Total_df

In [633]:
col = Total_df.columns.tolist()[:-1]

In [634]:
Total_computational_df = pd.concat([Total_df[col],User_df],axis=1)

In [635]:
Total_computational_df.to_csv('[Final]Total_computational_df.csv',encoding='utf-8',sep='\t',index=False)

In [636]:
Total_computational_df.columns.tolist()

['Post_id',
 'Title_len',
 'Count_space_mistake',
 'Map_exist',
 'Media_count',
 'Heart_count',
 'Sticker_count',
 'Comment_count',
 'Left',
 'Center',
 'Right',
 'Justify',
 'basic_font_check',
 'basic_font_size_check',
 'b_strong_word_len_ratio',
 'color_rgb_word_len_ratio',
 'First_ratio',
 'Second_ratio',
 'Text_len',
 'Img_count',
 'FR_url',
 'pos_ratio',
 'neg_ratio',
 'subjectivity',
 'polarity',
 'senti_diffs_per_ref',
 '가능하다',
 '가다',
 '간단하다',
 '갈다',
 '계시다',
 '궁금하다',
 '그렇다',
 '깔끔하다',
 '나가다',
 '나다',
 '나오다',
 '남다',
 '내다',
 '너무',
 '넘다',
 '넣다',
 '높다',
 '느끼다',
 '늘다',
 '다니다',
 '다르다',
 '다양하다',
 '덥다',
 '돼다',
 '되다',
 '되어다',
 '두다',
 '드리다',
 '들다',
 '들어가다',
 '들이다',
 '따르다',
 '만나다',
 '만들다',
 '많다',
 '많이',
 '말다',
 '맛있다',
 '맞다',
 '먹다',
 '모르다',
 '믿다',
 '바라다',
 '받다',
 '버리다',
 '보내다',
 '보다',
 '보이다',
 '빠르다',
 '빠지다',
 '새롭다',
 '생기다',
 '서다',
 '쉬다',
 '시원하다',
 '싶다',
 '쓰다',
 '아니다',
 '아직',
 '안녕하다',
 '안되다',
 '않다',
 '알다',
 '알아보다',
 '어떻다',
 '어렵다',
 '없다',
 '없이',
 '예쁘다',
 '오다',
 '올리다',
 '원하다',
 '유명하다',
 '이렇게',
 '이렇다',
 '이르다',
 '인하다',
 '자다',
 '자세하다',
 '작다',
 '잡다',
 '저렴하다',
 '적다',
 '좋다',
 '좋아하다',
 '주다',
 '중요하다',
 '즐기다',
 '지다',
 '찍다',
 '차다',
 '찾다',
 '크다',
 '특히',
 '편하다',
 '필요하다',
 '해드리다',
 '해보다',
 '해주다',
 '힘들다',
 'img img img img img',
 'img img img img text',
 'img img img text img',
 'img img text img img',
 'img img text img text',
 'img text img img img',
 'img text img img text',
 'img text img text img',
 'text img img img img',
 'text img img img text',
 'text img img text img',
 'text img text img img',
 'text img text img text',
 '24시스터디카페',
 'it',
 'lg액정수리',
 '강남서울밝은안과',
 '결혼',
 '결혼준비',
 '골프',
 '공연',
 '교육',
 '국내여행',
 '귀성형수술',
 '김앤방여성의원',
 '누운귀성형',
 '눈썹문신',
 '다이어트',
 '대전맛집',
 '더새로이',
 '데일리룩',
 '돌출귀성형',
 '드라마',
 '디자인',
 '로맨틱그랑서울',
 '리뷰',
 '만화',
 '맛집',
 '몬스터폰',
 '미용',
 '뱃살성형',
 '뱃살수술',
 '복부성형',
 '복부성형가격',
 '복부성형후기',
 '복부수술',
 '본스타트레이닝센터',
 '부산',
 '부산치과',
 '비에이블스터디카페',
 '사진',
 '생각',
 '세계여행',
 '스터디장소',
 '스터디카페',
 '스터디카페추천',
 '스포츠',
 '스포츠분석',
 '스포츠중계',
 '시험준비',
 '신차드림',
 '아나레슨',
 '아나운서학원',
 '아이폰배터리할인',
 '아이폰수리',
 '아이폰액정수리',
 '애니',
 '애니메이션',
 '어린이영양제',
 '에이치비성형외과',
 '여행',
 '연기학원',
 '영어공부',
 '영어회화',
 '영화',
 '웨딩박람회',
 '육아',
 '이벤트',
 '일본여행',
 '일상',
 '임플란트',
 '입꼬리성형',
 '입꼬리성형수술',
 '입꼬리수술',
 '입꼬리수술비용',
 '입꼬리수술잘하는곳',
 '자격증',
 '자동차',
 '자동차리스',
 '장기렌트',
 '장기렌트카',
 '재택알바',
 '제주도',
 '제주도여행',
 '제주여행',
 '주식',
 '주식투자',
 '줄기세포가슴지방이식',
 '중간고사',
 '중고폰매입',
 '직장인미팅',
 '직장인솔로대첩',
 '창업',
 '처진뱃살',
 '첫글',
 '청담여신성형외과',
 '취미',
 '키성장영양제',
 '키영양제',
 '키크는방법',
 '키크는법',
 '패션',
 '학문',
 'Question_count',
 'Tag_count',
 'Blog_info_text_len',
 'Count_neighbors',
 'Count_visitors',
 'Post_interval_average',
 'Text_similarity',
 'Total_post',
 'User_Id_len',
 'User_Id_contain_num',
 'User_Id_contain_char',
 'Comment_interaction',
 'Count_categories',
 'Average_comment_diff',
 'First_comment_diff',
 'Opening_date',
 'Blog_mobile_profile_img',
 'Blog_mobile_cover_img',
 'Credibility']

## Paper_best_features

In [641]:
Best_feature_df = Total_computational_df[['Post_id','FR_url','Question_count','First_ratio','Second_ratio','Tag_count','Blog_info_text_len','Count_neighbors','Text_len','Post_interval_average','Text_similarity','Total_post','User_Id_len','Comment_interaction','Blog_mobile_profile_img','Opening_date','senti_diffs_per_ref','pos_ratio','neg_ratio','subjectivity','Sticker_count','Credibility']]

In [642]:
Best_feature_df.to_csv('[Final]Best_feautres_df.csv',encoding='utf-8',sep='\t',index=False)

In [3]:
import pandas as pd
Best_feature_df = pd.read_csv('[Final]Best_feautres_df.csv',encoding='utf-8',sep='\t')

In [4]:
Best_feature_df.columns.tolist()

['Post_id',
 'FR_url',
 'Question_count',
 'First_ratio',
 'Second_ratio',
 'Tag_count',
 'Blog_info_text_len',
 'Count_neighbors',
 'Text_len',
 'Post_interval_average',
 'Text_similarity',
 'Total_post',
 'User_Id_len',
 'Comment_interaction',
 'Blog_mobile_profile_img',
 'Opening_date',
 'senti_diffs_per_ref',
 'pos_ratio',
 'neg_ratio',
 'subjectivity',
 'Sticker_count',
 'Credibility']